In [1]:
#importing the dependencies 

import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('credit_data.csv')

In [3]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
#determine the distribution of the 2 classes
dataset['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [11]:
#seperating the data legit and fraud

legit = dataset[dataset.Class == 0]
fraud = dataset[dataset.Class == 1]

In [12]:
print(legit.shape)

(284315, 31)

In [13]:
print(fraud.shape)

(492, 31)

In [15]:
#Building the sample dataset containing similar distribution of legit and fraudulent transactions

legit_sample = legit.sample(n=492)
print(legit_sample.shape)

(492, 31)

In [17]:
#Concatenate the Two Dataframes

new = pd.concat([legit_sample, fraud],axis = 0)

In [18]:
new.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
154439,101546.0,2.018486,0.028009,-0.607895,0.412620,-0.205677,-1.060331,-0.056755,-0.366268,1.714642,...,-0.587512,-1.445615,0.552263,-0.105548,-0.741212,-0.018621,-0.088989,-0.051253,16.93,0
60096,49157.0,-2.077563,1.328252,0.550114,1.466569,-1.075110,0.124390,1.336665,0.023898,-0.711799,...,-0.171538,-0.056545,-0.641627,0.363427,0.039332,-0.350241,-0.582105,-0.784148,278.39,0
86170,61114.0,-2.941451,-2.131166,2.531669,1.565519,2.620053,1.059276,-2.037578,0.918536,0.345680,...,0.172710,1.202557,-0.681297,-0.870272,0.147709,0.099559,0.465386,-0.090110,59.15,0
165358,117378.0,2.028352,-0.066463,-2.079035,0.283796,0.306428,-1.781172,0.820031,-0.595099,0.045959,...,0.151731,0.406783,-0.046907,0.113725,0.262403,0.791557,-0.143706,-0.077313,58.05,0
262259,160386.0,1.918626,0.164948,-2.046430,1.482035,0.542099,-1.051528,0.532989,-0.278901,0.422051,...,-0.156064,-0.467601,0.037824,-0.587493,0.178414,-0.668296,-0.007744,-0.022191,67.00,0

In [19]:
new.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [20]:
new['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64